1.0. O problema de
negócio.
https://sejaumdatascientist.com/os-5-projetos-de-data-science-que-fara-o-recrutador-olhar-para-voce/


https://www.kaggle.com/harlfoxem/housesalesprediction


- EMPRESA: House Rocket
- MODELO DE NEGÓCIO: Compra casas com preço baixo e revendo com o preço mais alto.
- QUAL O DESAFIO: Encontrar bons negócios dentro do portfólio disponível, ou seja, encontrar casas com preço baixo, em ótima localização eque tenham um ótimo potencial de revenda por um preço mais alto.


1. Qual a data do imóvel mais antigo no portfólio?
2. Quantos imóveis possuem o número máximo de andares?
3. Criar uma classificação para o imóveis, separando-os em baixo e alto padrão, de acordo com preço.
Acima de R$ 540.000 ->
alto padrão
Abaixo de R$ 540.000 ->
baixo padrão
4. Gostaria de um relatório ordenado pelo preço e contento as seguintes informações:
id do imóvel 
data que o imóvel ficou disponível para compra,
o número de quartos,
o tamanho total to terreno,
o preço,
a classificação do imóvel
( alto e baixo padrão )
5. Gostaria de um Mapa indicando onde as casase stão localizadas geograficamento.

In [32]:
import seaborn as sns
import pandas  as pd
import numpy   as np

In [33]:
data = pd.read_csv('/home/siquette/ds/Analise-de-Dados-com-Python/m2/archive/kc_house_data.csv')


#string para data
data['date'] = pd.to_datetime(data['date'])

print(data.dtypes)

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

1. Qual a data do imóvel mais antigo no portfólio?

In [34]:
print(data.sort_values('date', ascending=True))

               id       date      price  bedrooms  bathrooms  sqft_living  \
16768  5561000190 2014-05-02   437500.0         3       2.25         1970
9596    472000620 2014-05-02   790000.0         3       2.50         2600
9587   1024069009 2014-05-02   675000.0         5       2.50         2820
20602  7853361370 2014-05-02   555000.0         4       2.50         3310
11577  5056500260 2014-05-02   440000.0         4       2.25         2160
...           ...        ...        ...       ...        ...          ...
7898   1422700040 2015-05-14   183000.0         3       1.00         1170
928    8730000270 2015-05-14   359000.0         2       2.75         1370
5637   7923600250 2015-05-15   450000.0         5       2.00         1870
13053  5101400871 2015-05-24   445500.0         2       1.75         1390
16594  9106000005 2015-05-27  1310000.0         4       2.25         3750

       sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
16768     35100     2.0           0     0  ...      9        1970
9596       4750     1.0           0     0  ...      9        1700
9587      67518     2.0           0     0  ...      8        2820
20602      6500     2.0           0     0  ...      8        3310
11577      8119     1.0           0     0  ...      8        1080
...         ...     ...         ...   ...  ...    ...         ...
7898       7320     1.0           0     0  ...      7        1170
928        1140     2.0           0     0  ...      8        1080
5637       7344     1.5           0     0  ...      7        1870
13053      6670     1.0           0     0  ...      6         720
16594      5000     2.0           0     0  ...      8        2440

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
16768              0      1977             0    98027  47.4635 -121.991
9596             900      1951             0    98117  47.6833 -122.400
9587               0      1979             0    98029  47.5794 -122.025
20602              0      2012             0    98065  47.5150 -121.870
11577           1080      1966             0    98006  47.5443 -122.177
...              ...       ...           ...      ...      ...      ...
7898               0      1962             0    98188  47.4685 -122.282
928              290      2009             0    98133  47.7052 -122.343
5637               0      1960             0    98007  47.5951 -122.144
13053            670      1941             0    98115  47.6914 -122.308
16594           1310      1924             0    98115  47.6747 -122.303

       sqft_living15  sqft_lot15
16768           2340       35100
9596            2380        4750
9587            2820       48351
20602           2380        5000
11577           1850        9000
...              ...         ...
7898            2040        7320
928             1370        1090
5637            1870        7650
13053            920        6380
16594           2170        4590

[21613 rows x 21 columns]

2. Quantos imóveis possuem o número máximo de andares?

In [15]:
#print(data['floors'].unique())

print (data[data['floors']== 3.5][['floors','id']])

       floors          id
875       3.5  6306400140
10077     3.5  1972202010
11594     3.5  3180100023
14885     3.5  8673400177
15424     3.5  1702900664
18477     3.5  1346300150
20308     3.5  1972200426
20772     3.5  1972200428

3. Criar uma classificação para o imóveis, separando-os em baixo e alto padrão, de acordo com preço.
Acima de R$ 540.000 ->
alto padrão
Abaixo de R$ 540.000 ->
baixo padrão

In [36]:
data['level'] = 'standard'

data.loc[data['price'] > 540000, 'level'] = 'higt_level' 
data.loc[data['price'] < 540000, 'level'] = 'low_level'

4. Gostaria de um relatório ordenado pelo preço e contento as seguintes informações:
id do imóvel 
data que o imóvel ficou disponível para compra,
o número de quartos,
o tamanho total to terreno,
o preço,
a classificação do imóvel
( alto e baixo padrão )

In [37]:
report = data[['id', 'date', 'price', 'bedrooms', 'sqft_lot', 'level']].sort_values('price', ascending=False)

print( report.head())

              id       date      price  bedrooms  sqft_lot       level
7252  6762700020 2014-10-13  7700000.0         6     27600  higt_level
3914  9808700762 2014-06-11  7062500.0         5     37325  higt_level
9254  9208900037 2014-09-19  6885000.0         6     31374  higt_level
4411  2470100110 2014-08-04  5570000.0         5     35069  higt_level
1448  8907500070 2015-04-13  5350000.0         5     23985  higt_level

5. Gostaria de um Mapa indicando onde as casase stão localizadas geograficamento.

In [38]:
import plotly.express as px

data_mapa = data[['id', 'lat', 'long', 'price']]

mapa = px.scatter_mapbox( data_mapa, lat= 'lat', lon='long', hover_name= 'id',hover_data= ['price'], color_discrete_sequence= ['fuchsia'], zoom=3, height=300 )

mapa.update_layout(mapbox_style='open-street-map')

mapa.update_layout(height=900, margin={'r':0, 't':0, 'l':0, 'b':0})



mapa.write_html('map_house.html')

ModuleNotFoundError: No module named 'plotly'

1. Crie uma nova coluna chamada: 'house_age'
- Se o valor da coluna 'date' for maior que 2015-01-01 >= 'new_house'
- Se o valor da coluna 'date' for menor que 2015-01-01 <= 'old_house'
2. Crie uma nova coluna chamada: 'dormitory_type'
- Se o valor da coluna 'bedrooms' for igual a 1 -> 'studio'
- Se o valor da coluna 'bedrooms' for igual a 2 -> 'apartment'
- se o valor da coluna 'bedrooms' for maior que 2 -> 'house'
3. Cria uma nova coluna chamada 'condition_type'
- Se o valor da coluna 'condition' for menor ou igual a 2 -> 'bad'
- Se o valor da coluna 'condition' for igual a 3 ou 4 -> 'regular'
- Se o valor da coluna 'condition' for igual a 5 -> 'good'
4. Modifique o TIPO da Coluna 'condition' para string
5. Delete as colunas 'sqft_living15' e 'sqft_lot15'
6. Modifique o tipo da coluna 'yr_build' para date
7. Modifique o tipo da coluna 'yr_renovated' para date
8. Qual a data mais antiga de construção de um imóvel?
9. Qual a data mais antiga de renovação de um imóvel?
10. Quantos imóveis tem 2 andares?
11. Quantos imóveis estão com a condição 'regular'?
12. Quantos imóveis estão com a condição igual a 'bad' e possuem 'vista para o mar'
13. Quantos imóveis estão com a condição igual a 'good' e são 'new_house'?
14. Qual o valor do imóvel mais caro do tipo 'studio'?
15. Quantos imóveis do tipo 'apartment' foram reformados em 2015?
16. Qual o maior número de quartos que um imóvel do tipo 'house' possui?
17. Quantos imóveis 'new_house' foram reformados no ano de 2014?
18. Selecione as colunas 'id','date','price','floors','zipcode' pelo método:
- Direto pelo nome das colunas.
- Pelos índices.
- Pelos índices das linhas e o nome das colunas.
- Índices booleanos
19. Salve um arquivo .csv com somente as colunas do item 10.
20. Modifique a cor dos pontos no mapa de 'pink' para 'verde-escuro'

1. Crie uma nova coluna chamada: 'house_age'
- Se o valor da coluna 'date' for maior que 2015-01-01 >= 'new_house'
- Se o valor da coluna 'date' for menor que 2015-01-01 <= 'old_house'

In [39]:
data ['house_age']= "NA"

print(data[['id', 'house_age']].head())


data.loc[data['date'] > '2015-01-01', 'house_age' ] = 'new_house'

data.loc[data['date'] < '2015-01-01', 'house_age']  = 'old_house'


data [['house_age']].value_counts()

           id house_age
0  7129300520        NA
1  6414100192        NA
2  5631500400        NA
3  2487200875        NA
4  1954400510        NA

house_age
old_house    14633
new_house     6980
dtype: int64

2. Crie uma nova coluna chamada: 'dormitory_type'
- Se o valor da coluna 'bedrooms' for igual a 1 -> 'studio'
- Se o valor da coluna 'bedrooms' for igual a 2 -> 'apartment'
- se o valor da coluna 'bedrooms' for maior que 2 -> 'house'

In [40]:
data['dormitory_type'] = "NA"

data.loc[data['bedrooms'] == 1 , 'dormitory_type'] = "studio"

data.loc[data['bedrooms'] == 2 , 'dormitory_type'] = "apartament"

data.loc[data[ 'bedrooms'] > 2 , 'dormitory_type'] = "house"

data [['dormitory_type']].value_counts()

dormitory_type
house             18641
apartament         2760
studio              199
NA                   13
dtype: int64

3. Cria uma nova coluna chamada 'condition_type'
- Se o valor da coluna 'condition' for menor ou igual a 2 -> 'bad'
- Se o valor da coluna 'condition' for igual a 3 ou 4 -> 'regular'
- Se o valor da coluna 'condition' for igual a 5 -> 'good'

In [41]:
data['condition_type'] = "NA"

data.loc[data['condition'] <= 2 , 'condition_type'] = "bad" 

data.loc[(data['condition'] == 3 ) | (data['condition'] == 4 ), 'condition_type'] = "regular"

data.loc[data['condition'] == 5 , 'condition_type'] = "good" 

data [['condition_type']].value_counts()

condition_type
regular           19710
good               1701
bad                 202
dtype: int64

4. Modifique o TIPO da Coluna 'condition' para string

In [42]:
data['condition'] = data['condition'].astype(str)

5. Delete as colunas 'sqft_living15' e 'sqft_lot15'

In [43]:
data = data.drop( ['sqft_living15' , 'sqft_lot15' ], axis=1)

6. Modifique o tipo da coluna 'yr_build' para date
7. Modifique o tipo da coluna 'yr_renovated' para date

In [44]:
data['yr_built'] = pd.to_datetime( data['yr_built'], format='%Y' )

In [45]:
data['yr_renovated'] = data['yr_renovated'].apply( lambda x: pd.to_datetime( x, format='%Y') if x > 0 else x )

8. Qual a data mais antiga de construção de um imóvel?
9. Qual a data mais antiga de renovação de um imóvel?

In [46]:
data.sort_values(by = 'yr_built', ascending = True).head(10)

#data.sort_values(by = 'yr_renovated', ascending = True).head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,level,house_age,dormitory_type,condition_type
4697,9126101645,2014-06-10,558000.0,4,2.00,2180,3870,1.0,0,0,...,1160,1900-01-01,0,98122,47.6089,-122.303,higt_level,old_house,house,regular
2961,1947300115,2014-06-19,464000.0,3,1.00,1320,3625,2.0,0,0,...,0,1900-01-01,0,98122,47.6049,-122.288,low_level,old_house,house,regular
12369,9138100350,2015-02-18,685000.0,4,2.00,2290,6000,1.5,0,3,...,0,1900-01-01,0,98115,47.6807,-122.318,higt_level,new_house,house,good
15016,1703400585,2014-12-15,325000.0,3,2.00,2330,4950,1.5,0,0,...,900,1900-01-01,0,98118,47.5585,-122.290,low_level,old_house,house,regular
5236,844000425,2014-12-23,199999.0,3,1.00,960,10815,1.0,0,0,...,0,1900-01-01,0,98010,47.3091,-122.006,low_level,old_house,house,good
8732,3364900156,2015-03-17,382888.0,1,1.00,620,2380,1.0,0,0,...,0,1900-01-01,0,98115,47.6746,-122.326,low_level,new_house,studio,regular
14001,2354300456,2015-03-11,130000.0,2,1.00,600,1500,1.0,0,0,...,0,1900-01-01,0,98027,47.5289,-122.033,low_level,new_house,apartament,regular
17182,7883601155,2014-05-30,240000.0,3,2.00,1330,6000,1.0,0,0,...,700,1900-01-01,0,98108,47.5255,-122.327,low_level,old_house,house,regular
3131,9829200590,2014-10-28,759000.0,3,2.75,1960,6390,1.5,0,2,...,0,1900-01-01,0,98122,47.6032,-122.285,higt_level,old_house,house,good
498,9274202270,2014-08-18,625000.0,2,1.50,1490,5750,1.5,0,0,...,300,1900-01-01,0,98116,47.5872,-122.390,higt_level,old_house,apartament,regular

10. Quantos imóveis tem 2 andares?
11. Quantos imóveis estão com a condição 'regular'?
12. Quantos imóveis estão com a condição igual a 'bad' e possuem 'vista para o mar'
13. Quantos imóveis estão com a condição igual a 'good' e são 'new_house'?

In [ ]:
data[['floors']].value_counts()

In [ ]:
data[['condition_type']].value_counts()

In [ ]:
data12 = data.loc[(data['condition_type'] == "bad")&(data['waterfront'] == 1) ]

data12

In [ ]:
data13 = data.loc[(data['condition_type'] == "good") &(data['house_age' ] == "new_house")]

data13

14. Qual o valor do imóvel mais caro do tipo 'studio'?
15. Quantos imóveis do tipo 'apartment' foram reformados em 2015?
16. Qual o maior número de quartos que um imóvel do tipo 'house' possui?
17. Quantos imóveis 'new_house' foram reformados no ano de 2014?

In [ ]:
data14 = data.loc[(data['dormitory_type'] == "studio")]

data14.sort_values(by='price', ascending = False).head(5)

In [ ]:
data15 = data.loc [(data['dormitory_type'] == "studio")]

data15

In [63]:
data16 = data.loc[(data['dormitory_type'] == 'house')]

data16.sort_values(by=)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,level,house_age,dormitory_type,condition_type
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,1955-01-01,0,98178,47.5112,-122.257,low_level,old_house,house,regular
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,400,1951-01-01,1991-01-01 00:00:00,98125,47.7210,-122.319,low_level,old_house,house,regular
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,910,1965-01-01,0,98136,47.5208,-122.393,higt_level,old_house,house,good
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,0,1987-01-01,0,98074,47.6168,-122.045,low_level,new_house,house,regular
5,7237550310,2014-05-12,1225000.0,4,4.50,5420,101930,1.0,0,0,...,1530,2001-01-01,0,98053,47.6561,-122.005,higt_level,old_house,house,regular
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21606,7936000429,2015-03-26,1007500.0,4,3.50,3510,7200,2.0,0,0,...,910,2009-01-01,0,98136,47.5537,-122.398,higt_level,new_house,house,regular
21607,2997800021,2015-02-19,475000.0,3,2.50,1310,1294,2.0,0,0,...,130,2008-01-01,0,98116,47.5773,-122.409,low_level,new_house,house,regular
21608,263000018,2014-05-21,360000.0,3,2.50,1530,1131,3.0,0,0,...,0,2009-01-01,0,98103,47.6993,-122.346,low_level,old_house,house,regular
21609,6600060120,2015-02-23,400000.0,4,2.50,2310,5813,2.0,0,0,...,0,2014-01-01,0,98146,47.5107,-122.362,low_level,new_house,house,regular
21611,291310100,2015-01-16,400000.0,3,2.50,1600,2388,2.0,0,0,...,0,2004-01-01,0,98027,47.5345,-122.069,low_level,new_house,house,regular

In [54]:
print(data.columns)
print( data.dtypes)

data

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'level', 'house_age', 'dormitory_type',
       'condition_type'],
      dtype='object')
id                         int64
date              datetime64[ns]
price                    float64
bedrooms                   int64
bathrooms                float64
sqft_living                int64
sqft_lot                   int64
floors                   float64
waterfront                 int64
view                       int64
condition                 object
grade                      int64
sqft_above                 int64
sqft_basement              int64
yr_built          datetime64[ns]
yr_renovated              object
zipcode                    int64
lat                      float64
long                     float64
level                     object
house_age                 object
dormitory_type            object
condition_type            object
dtype: object

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,level,house_age,dormitory_type,condition_type
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,1955-01-01,0,98178,47.5112,-122.257,low_level,old_house,house,regular
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,400,1951-01-01,1991-01-01 00:00:00,98125,47.7210,-122.319,low_level,old_house,house,regular
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,0,1933-01-01,0,98028,47.7379,-122.233,low_level,new_house,apartament,regular
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,910,1965-01-01,0,98136,47.5208,-122.393,higt_level,old_house,house,good
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,0,1987-01-01,0,98074,47.6168,-122.045,low_level,new_house,house,regular
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,2014-05-21,360000.0,3,2.50,1530,1131,3.0,0,0,...,0,2009-01-01,0,98103,47.6993,-122.346,low_level,old_house,house,regular
21609,6600060120,2015-02-23,400000.0,4,2.50,2310,5813,2.0,0,0,...,0,2014-01-01,0,98146,47.5107,-122.362,low_level,new_house,house,regular
21610,1523300141,2014-06-23,402101.0,2,0.75,1020,1350,2.0,0,0,...,0,2009-01-01,0,98144,47.5944,-122.299,low_level,old_house,apartament,regular
21611,291310100,2015-01-16,400000.0,3,2.50,1600,2388,2.0,0,0,...,0,2004-01-01,0,98027,47.5345,-122.069,low_level,new_house,house,regular
21612,1523300157,2014-10-15,325000.0,2,0.75,1020,1076,2.0,0,0,...,0,2008-01-01,0,98144,47.5941,-122.299,low_level,old_house,apartament,regular