1.0. O problema de
negócio.
https://sejaumdatascientist.com/os-5-projetos-de-data-science-que-fara-o-recrutador-olhar-para-voce/


https://www.kaggle.com/harlfoxem/housesalesprediction


- EMPRESA: House Rocket
- MODELO DE NEGÓCIO: Compra casas com preço baixo e revendo com o preço mais alto.
- QUAL O DESAFIO: Encontrar bons negócios dentro do portfólio disponível, ou seja, encontrar casas com preço baixo, em ótima localização eque tenham um ótimo potencial de revenda por um preço mais alto.


1. Qual a data do imóvel mais antigo no portfólio?
2. Quantos imóveis possuem o número máximo de andares?
3. Criar uma classificação para o imóveis, separando-os em baixo e alto padrão, de acordo com preço.
Acima de R$ 540.000 ->
alto padrão
Abaixo de R$ 540.000 ->
baixo padrão
4. Gostaria de um relatório ordenado pelo preço e contento as seguintes informações:
id do imóvel 
data que o imóvel ficou disponível para compra,
o número de quartos,
o tamanho total to terreno,
o preço,
a classificação do imóvel
( alto e baixo padrão )
5. Gostaria de um Mapa indicando onde as casase stão localizadas geograficamento.

In [6]:
import seaborn as sns
import pandas  as pd
import numpy   as np

In [7]:
data = pd.read_csv('/home/r_a_s/Documentos/ds/Análise de Dados com Python/m2/archive/kc_house_data.csv')


#string para data
data['date'] = pd.to_datetime(data['date'])

print(data.dtypes)

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

1. Qual a data do imóvel mais antigo no portfólio?

In [8]:
print(data.sort_values('date', ascending=True))

               id       date      price  bedrooms  bathrooms  sqft_living  \
16768  5561000190 2014-05-02   437500.0         3       2.25         1970
9596    472000620 2014-05-02   790000.0         3       2.50         2600
9587   1024069009 2014-05-02   675000.0         5       2.50         2820
20602  7853361370 2014-05-02   555000.0         4       2.50         3310
11577  5056500260 2014-05-02   440000.0         4       2.25         2160
...           ...        ...        ...       ...        ...          ...
7898   1422700040 2015-05-14   183000.0         3       1.00         1170
928    8730000270 2015-05-14   359000.0         2       2.75         1370
5637   7923600250 2015-05-15   450000.0         5       2.00         1870
13053  5101400871 2015-05-24   445500.0         2       1.75         1390
16594  9106000005 2015-05-27  1310000.0         4       2.25         3750

       sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
16768     35100     2.0           0     0  ...      9        1970
9596       4750     1.0           0     0  ...      9        1700
9587      67518     2.0           0     0  ...      8        2820
20602      6500     2.0           0     0  ...      8        3310
11577      8119     1.0           0     0  ...      8        1080
...         ...     ...         ...   ...  ...    ...         ...
7898       7320     1.0           0     0  ...      7        1170
928        1140     2.0           0     0  ...      8        1080
5637       7344     1.5           0     0  ...      7        1870
13053      6670     1.0           0     0  ...      6         720
16594      5000     2.0           0     0  ...      8        2440

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
16768              0      1977             0    98027  47.4635 -121.991
9596             900      1951             0    98117  47.6833 -122.400
9587               0      1979             0    98029  47.5794 -122.025
20602              0      2012             0    98065  47.5150 -121.870
11577           1080      1966             0    98006  47.5443 -122.177
...              ...       ...           ...      ...      ...      ...
7898               0      1962             0    98188  47.4685 -122.282
928              290      2009             0    98133  47.7052 -122.343
5637               0      1960             0    98007  47.5951 -122.144
13053            670      1941             0    98115  47.6914 -122.308
16594           1310      1924             0    98115  47.6747 -122.303

       sqft_living15  sqft_lot15
16768           2340       35100
9596            2380        4750
9587            2820       48351
20602           2380        5000
11577           1850        9000
...              ...         ...
7898            2040        7320
928             1370        1090
5637            1870        7650
13053            920        6380
16594           2170        4590

[21613 rows x 21 columns]

2. Quantos imóveis possuem o número máximo de andares?

In [9]:
#print(data['floors'].unique())

print (data[data['floors']== 3.5][['floors','id']])

       floors          id
875       3.5  6306400140
10077     3.5  1972202010
11594     3.5  3180100023
14885     3.5  8673400177
15424     3.5  1702900664
18477     3.5  1346300150
20308     3.5  1972200426
20772     3.5  1972200428

3. Criar uma classificação para o imóveis, separando-os em baixo e alto padrão, de acordo com preço.
Acima de R$ 540.000 ->
alto padrão
Abaixo de R$ 540.000 ->
baixo padrão

In [10]:
data['level'] = 'standard'

data.loc[data['price'] > 540000, 'level'] = 'higt_level' 
data.loc[data['price'] < 540000, 'level'] = 'low_level'

4. Gostaria de um relatório ordenado pelo preço e contento as seguintes informações:
id do imóvel 
data que o imóvel ficou disponível para compra,
o número de quartos,
o tamanho total to terreno,
o preço,
a classificação do imóvel
( alto e baixo padrão )

In [11]:
report = data[['id', 'date', 'price', 'bedrooms', 'sqft_lot', 'level']].sort_values('price', ascending=False)

print( report.head())

              id       date      price  bedrooms  sqft_lot       level
7252  6762700020 2014-10-13  7700000.0         6     27600  higt_level
3914  9808700762 2014-06-11  7062500.0         5     37325  higt_level
9254  9208900037 2014-09-19  6885000.0         6     31374  higt_level
4411  2470100110 2014-08-04  5570000.0         5     35069  higt_level
1448  8907500070 2015-04-13  5350000.0         5     23985  higt_level

5. Gostaria de um Mapa indicando onde as casase stão localizadas geograficamento.

In [20]:
import plotly.express as px

data_mapa = data[['id', 'lat', 'long', 'price']]

mapa = px.scatter_mapbox( data_mapa, lat= 'lat', lon='long', hover_name= 'id',hover_data= ['price'], color_discrete_sequence= ['fuchsia'], zoom=3, height=300 )

mapa.update_layout(mapbox_style='open-street-map')

mapa.update_layout(height=900, margin={'r':0, 't':0, 'l':0, 'b':0})



mapa.write_html('map_house.html')