1. Qual o número de imóveis por ano de construção?
2. Qual o menor número de quartos por ano de construção dos imóveis?
3. Qual o preço de compra mais alto por cada número de quartos?
4. Qual a soma de todos os preços de compra por cada número de quartos?
5. Qual a soma de todos os preços de compra pelo número de quartos e banheiros?
6. Qual o tamanho médio das salas dos imóveis por ano de construção?
7. Qual o tamanho mediano das salas dos imóveis por ano de construção?
8. Qual o desvio-padrão do tamanho das salas dos imóveis por ano de construção?
9. Como é o crescimento médio preços de compra dos imóveis, por dia e semana do ano?
10. Eu gostaria de olhar no mapa e conseguir identificar as casas com o maior preço.

In [35]:
import numpy  as np
import pandas as pd
import seaborn as sns
pd.set_option('display.float_format', lambda x: '%.2f' % x) #suprimir a notação científica em Pandas

In [19]:
data = pd.read_csv('/home/r_a_s/dp/m2/archive/kc_house_data.csv')

1. Qual o número de imóveis por ano de construção?

In [20]:
data["date"] = pd.to_datetime(data["date"])

In [21]:
data.groupby(data['date'].dt.year).size()

date
2014    14633
2015     6980
dtype: int64

2. Qual o menor número de quartos por ano de construção dos imóveis?

In [22]:
data.groupby([data['date'].dt.year, 'bedrooms']).size()

date  bedrooms
2014  0              9
      1            138
      2           1844
      3           6612
      4           4724
      5           1081
      6            176
      7             30
      8             11
      9              3
      10             3
      11             1
      33             1
2015  0              4
      1             61
      2            916
      3           3212
      4           2158
      5            520
      6             96
      7              8
      8              2
      9              3
dtype: int64

3. Qual o preço de compra mais alto por cada número de quartos?

In [23]:
data[['price', 'bedrooms']].groupby('bedrooms').max()

                 price
bedrooms
0        1295650.00000
1        1247000.00000
2        3278000.00000
3        3800000.00000
4        4489000.00000
5        7062500.00000
6        7700000.00000
7        3200000.00000
8        3300000.00000
9        1400000.00000
10       1148000.00000
11        520000.00000
33        640000.00000

4. Qual a soma de todos os preços de compra por cada número de quartos?

In [ ]:
data[['price', 'bedrooms']]. groupby('bedrooms').sum()

5. Qual a soma de todos os preços de compra pelo número de quartos e banheiros?

In [31]:
data['bathrooms'] = data['bathrooms'].astype(int)

In [ ]:
data[['price', 'bedrooms', 'bathrooms']]. groupby(['bedrooms','bathrooms']).sum()

6. Qual o tamanho médio das salas dos imóveis por ano de construção?

7. Qual o tamanho mediano das salas dos imóveis por ano de construção?

9. Como é o crescimento médio preços de compra dos imóveis, por dia e semana do ano?

10. Eu gostaria de olhar no mapa e conseguir identificar as casas com o maior preço.

In [32]:
print( data.dtypes)

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms                 int64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object